<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 " fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Macro map</span>
            </div>
            <div class="h1 mt-16">Macro map</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <!-- <iframe frameborder="0" style="width:100%;height:-357px;" src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1#G1e2kiBstaDbVa3mDNkNBs0IDNbcTa8z0B"></iframe> -->

        <!-- <iframe frameborder="0" style="width:100%;height:600px;" src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1#G1e2kiBstaDbVa3mDNkNBs0IDNbcTa8z0B"></iframe> -->

        <iframe frameborder="0" style="width:100%;height:423px;" src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=Untitled%20Diagram.drawio#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1e2kiBstaDbVa3mDNkNBs0IDNbcTa8z0B%26export%3Ddownload"></iframe>

        <!-- <iframe frameborder="0" style="width:100%;height:396px;" src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1#G1e2kiBstaDbVa3mDNkNBs0IDNbcTa8z0B"></iframe> -->

        <!-- <div id="chart-container"></div> -->
        <!-- <div>
            <textarea id="code" style="width: 100%;" rows="11">
op1=>operation: Advertising | yellow
op2=>operation: Inquire | yellow
op3=>operation: Sales process | yellow
op4=>operation: On-site appt | yellow
op5=>operation: Bid 24 hours | yellow
op6=>operation: Design-present to client-q | yellow
op7=>operation: Complete contract; get retainer | yellow
op8=>operation: Make file/send referral thank you | green
op9=>operation: Schedule job confirm w/ client | yellow
op10=>operation: Contact client every 4 wks-order special material | yellow
op11=>operation: Confirm 1 wk and 1 day prior | yellow
op12=>operation: Pre-apology letter to neighbors | green    
                       
op1(right)->op2(right)->op3(right)->op4(right)->op5(right)->op6(right)->op7(bottom)->op8(left)->op9(left)->op10(left)

        </textarea>
        </div>
        <div><button id="run" type="button">Run</button></div>
        <div id="canvas"></div> -->


    </div>
</div>