<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/fuse.svg">
        <span class="logo-text secondary-text font-logo ">KUA Drivers</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground"
    fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 300px">
                <mat-card-content class="card-content">
                    <div fxLayoutAlign="start center" fxLayout="row">
                        <mat-icon class="mr-8">people_outline</mat-icon>
                        <h3 class="m-0">Leadership</h3>
                    </div>
                    <ul class="list-leaders" style="">
                        <li>
                            <mat-icon class="mr-8">arrow_right</mat-icon>
                            Mazen Farah - <small> Presales Manager</small>
                        </li>
                        <li>
                            <mat-icon class="mr-8">arrow_right</mat-icon>
                            William Smith - <small> Product Manager</small>
                        </li>
                        <li>
                            <mat-icon class="mr-8">arrow_right</mat-icon>
                            Toni Statham - <small> Accounting Manager</small>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </mde-popover>

        <div class="h3 username cursor-pointer" [mdePopoverTriggerFor]="appPopover"
            mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" fxLayout="row" fxLayoutAlign="start center">
            VALSOFT 
            <mat-icon class="">arrow_drop_down</mat-icon>
        </div>
        <div class="h5 email hint-text mt-8">
            76%
        </div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/v.png">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>