.img-acc {
    border-radius: 67px;
    width: 32px;
    margin-right: 10px;
}
.acc-name {
    font-family: "Poppins", sans-serif;
}

.box {
    padding: 10px;
    background: #fff;
    margin: 3px 0px;
}
