<mat-form-field appearance="outline" fxFlex="100">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryCtrl" placeholder="Category" #categorySelect>
        <mat-option>
            <ngx-mat-select-search [formControl]="categoryFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option [value]="{id:''}">
            None
        </mat-option>
        <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{category.subCategory}}
        </mat-option>
    </mat-select>
    <mat-icon matSuffix class="secondary-text">assignment_turned_in</mat-icon>
    <mat-error>Category is required!</mat-error>
</mat-form-field>
