<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 " fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Seats</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">People analyzer</span>
            </div>
            <div class="h1 mt-16">People analyzer</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <table id="customers">
            <tr class="header">
                <td rowspan="2"></td>
                <td colspan="3">Right person</td>
                <td colspan="3">Right seat</td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td class="blue-grey-50">Value 1</td>
                <td class="blue-grey-50">Value 2</td>
                <td class="blue-grey-50">Value 3</td>
                <td class="orange-50">Get it</td>
                <td class="orange-50">Want it</td>
                <td class="orange-50">
                    <div fxLayout="column">
                        <div>Capacity</div>
                        <small style="color: #32a0d5;">Time/Mental/Physical/Knowledge</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Bar </td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </table>

        <h3 fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="mr-8">people_outline</mat-icon>
            Integrator
        </h3>
        <ul class="ul">
            <li>
                <mat-icon class="mr-8">arrow_right </mat-icon>
                Function Leadership 1
            </li>
            <li>
                <mat-icon class="mr-8">arrow_right </mat-icon>
                Function Leadership 2
            </li>
            <li>
                <mat-icon class="mr-8">arrow_right </mat-icon>
                Function Leadership 3
            </li>
        </ul>
    </div>
</div>