<div class="">
    <div class="box" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="img-acc" src="assets/images/avatars/Velazquez.jpg">
            <div class="acc-name">James Parkson</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-button-toggle-group [value]="'ontrack'">
                <mat-button-toggle value="offtack">Off track</mat-button-toggle>
                <mat-button-toggle value="ontrack">On track</mat-button-toggle>
                <mat-button-toggle value="done">Done</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-icon class="ml-12 mr-12">low_priority</mat-icon>
            <mat-icon>how_to_reg</mat-icon>

        </div>
    </div>
</div>