<div class="meeting-rocks-review">
    <div class="box" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="img-acc" src="assets/images/avatars/Velazquez.jpg">
            <div class="acc-name">Hospital project fix security issues.</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="ml-12 mr-12">low_priority</mat-icon>
            <mat-icon>how_to_reg</mat-icon>
        </div>
    </div>

    <div class="box" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="img-acc" src="assets/images/avatars/Velazquez.jpg">
            <div class="acc-name">New proposals template</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="ml-12 mr-12">low_priority</mat-icon>
            <mat-icon>how_to_reg</mat-icon>
        </div>
    </div>
</div>